Terminal/Connected Services/joaquin24/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58746/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Share.entities" />
  <xs:import schemaLocation="http://localhost:58746/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:58746/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/API_SOAP" />
  <xs:element name="GetLineas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Share.entities" minOccurs="0" name="GetLineasResult" nillable="true" type="q1:ArrayOfELinea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineaSelected" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Share.entities" minOccurs="0" name="GetSalidasResult" nillable="true" type="q2:ArrayOfESalida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParadasD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLinea" type="xs:int" />
        <xs:element minOccurs="0" name="IdParada" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParadasDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Share.entities" minOccurs="0" name="GetParadasDResult" nillable="true" type="q3:ArrayOfEParada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canSelectSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLinea" type="xs:int" />
        <xs:element minOccurs="0" name="idParadaOrigen" type="xs:int" />
        <xs:element minOccurs="0" name="idParadaDestino" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canSelectSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="canSelectSeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="precioDelPasaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLinea" type="xs:int" />
        <xs:element minOccurs="0" name="idParadaOrigen" type="xs:int" />
        <xs:element minOccurs="0" name="idParadaDestino" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="precioDelPasajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioDelPasajeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaSelected" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAsientosResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechasViajes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSalida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechasViajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Share.entities" minOccurs="0" name="GetFechasViajesResult" nillable="true" type="q5:ArrayOfEViaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLinea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Share.entities" minOccurs="0" name="GetParadasResult" nillable="true" type="q6:ArrayOfEParada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprarPasaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdViaje" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="paradaOId" type="xs:int" />
        <xs:element minOccurs="0" name="paradaDId" type="xs:int" />
        <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Asiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprarPasajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/API_SOAP" minOccurs="0" name="composite" nillable="true" type="q7:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/API_SOAP" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q8:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>